body {
    background-color: #000000;
    color: #ffffff;
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

a {
	color: yellow;
}

#main-body {
  width: 902px;
  background: black;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
